# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI= mongodb+srv://akshanshmittalcseai2023_db_user:C7As6PoQBPjWuwIs@cluster0.ej3q1lx.mongodb.net/
# For Atlas: mongodb+srv://username:password@cluster.mongodb.net/gst-invoice

# JWT
JWT_SECRET=hello123
JWT_EXPIRES_IN=7d

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000
